[Desktop Entry]
Type=Application
Name=bspwm
NoDisplay=true
GenericName=A dynamic tiling window manager
Comment=improved dynamic tiling window manager
Exec=bspwm
X-GNOME-WMName=bspwm
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
