[Unit]
Description=Reflector Update Timer

[Timer]
Unit=reflector-update.service
OnCalendar=weekly
Persistent=True
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
